 /* Add some padding on document's body to prevent the content
    to go underneath the header and footer */
.container{
   width: 90%;
   margin: 0 2%; /* Center the DIV horizontally */
   font: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

    
.fixed-header, .fixed-footer{
   width: 100%;
   position: fixed;        
   background: rgb(43, 89, 173);
   color: #fff;
   font: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
   z-index:1;
}

.fixed-header{
   top: 0;
   padding:5px;
   font-size: 20px;
   margin: 0;
   text-align: center;
}

.fixed-footer{
   bottom: 0;
   padding:5px;
   font-size: 12px;
   margin: 0;
   text-align: center;
}   

    /* Some more styles to beutify this example */
nav a{
   color: rgb(255, 255, 255);
   text-decoration: none;
   padding: 1% 2%;
   display: inline-block;
}

.container p{
   line-height: 200px; /* Create scrollbar to test positioning */
}

#headerLogo {
  top: 0px;
  right: 0px;
  position: fixed;
  z-index: 1;
  max-width: 10%;
}

/* CSS */
.pop-out {
  transition: transform 0.2s ease-in-out;
}

.pop-out:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

body {
   margin: 0;
   padding: 0;
   background: #EEE;
   font: 10px/13px 'Lucida Sans',sans-serif;
}

.wrap {
   overflow: visible;
   margin: 100px;
}

.box {
   float: left;
   position: relative;
   width: 18%;
   padding-bottom: 18%;
}

.boxInner {
   position: absolute;
   left: 10px;
   right: 10px;
   top: 10px;
   bottom: 10px;
   overflow: visible;
}

.boxInner img {
   width: 100%;
   height: 100px;
}

.boxInner .titleBox {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   margin-bottom: 0px;
   background: #000;
   background: rgba(0, 0, 0, 0.5);
   color: #FFF;
   padding: 10px;
   font-size: 20px;
   text-align: center;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
}

.titleBox {
  visibility: hidden;
}

body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
   margin-bottom: 0;
}

@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   .box {
      width: 100%;
      padding-bottom: 100%;
   }
}

@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .box {
      width: 50%;
      padding-bottom: 50%;
   }
}

@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   .box {
      width: 33.3%;
      padding-bottom: 33.3%;
   }
}

@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   /* Medium desktop: 4 tiles */
   .box {
      width: 25%;
      padding-bottom: 25%;
   }
}
